body { 
  font-family: 'Arial', sans-serif; 
  background-color: #36393f; 
  color: #ffffff; 
  margin: 0; 
  padding: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
} 

#container { 
  text-align: center; 
} 

#btnNo, #btnYes { 
  background-color: #7289da; 
  color: #ffffff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  margin-right: 20px; 
} 

#result { 
  display: none; 
  margin-top: 20px; 
  font-size: 18px; 
  color: #ff3366; 
} 

/* Optional: Add hover effect on buttons */ 
#btnNo:hover, #btnYes:hover { 
  background-color: #677bc4; 
}
